h1{padding:0}
body {
    margin: 0;
    padding: 0;
}
img {
    border: 4px solid maroon;
    border-radius: 4px;
    padding: 0.25px;
    float:center;
    width: 35%;
    height: 25%;
    border-radius: 50%;
}
h5{
    color:chartreuse;
}
.page-wrapper {
    background:dimgray;
    display:block;
    height: 100vh;
    background-position: center;
    background-image: url(/images/image-13.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: none;
}
.page-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-wrapper h1 {
    border: 4px solid rgb(41, 41, 41);
    background-color:maroon;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: rgb(255, 230, 2);
    position: relative;
    z-index: 500;
    padding: .5rem;
}
.home-nav {
    border: 0px solid rgb(69, 219, 219);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 500;
    list-style: none;
    margin: auto;
    padding: 0;
}
.home-nav li a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid rgb(41, 41, 41);
    background-color: maroon;
    width:max-content;
    text-decoration: none;
    color: rgb(250, 246, 2);
    position: center;
    font-size: 1.8rem;
    display:ruby-base;
    margin:auto;
    padding: .5rem;
}

.site-footer{
    position: absolute;
}